
#container{
	width:320px;
	height: 480px;
	background: url(../img/game_bg.jpg);
	margin: 40px auto;
	border:1px solid transparent;
	position: relative;
}
#start p,#over p {
	text-align: center;
	font-size:2.3rem;
	color: orange;
	text-shadow:  0 0 8px red;
	margin: 0;
	margin-top: 10px;
	font-weight: bolder;
}
#start p:hover,#over p:hover{
	cursor: pointer;
}
#start{
	margin-top: 192px;
	display: block;
}
#score{
	position: absolute;
	left: 60px;
	top: 9px;
	color:#fff;
	font-size: 20px;
	font-weight: bolder;
}
#timing{
	width: 180px;
	height: 16px;
	background: orange;
	border-radius: 30px;
	position: absolute;
	left: 63px;
	top: 66px;
}
#over{
	display: none;
	position: absolute;
	left: 90px;
	top: 180px;
}
 #wolves{
 	position: relative;
 }
 #wolves>img{
 	position: absolute;
 }