*{
	padding: 0;
	margin: 0;
}
/*页面的头部*/
.wrap{
	text-align: center;
	background: rgb(242,242,242);
	padding-top: 130px;
}
.header{
	width: 100%;
	background: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
	left: 0;
	/*添加阴影：x轴偏移  y轴偏移  模糊区域 阴影颜色*/
	box-shadow: 0 3px  5px gray;
	z-index: 9;
}
.header img{
    width: 110px;
    height: 32px;
    padding: 10px 0;
}
.nav a{
	text-decoration: none;
	color: gray;
	margin: 0  5%;
}
.nav a:hover{
	color: white;
}
/*给页面的内容区添加样式*/
.content{
     width: 95%;
     /*让block类型的盒子水平居中*/
     margin: 0 auto;
     margin-top: 130px;
}
/*轮播图样式*/
.scrollImg{
	position: relative;
	font-size: 0;
}
.scrollImg img{
	width:100%;
}
.mask1{
	width: 100%;
	height: 30px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	z-index: 6;
}
.scrollImg p{
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	font-size: 16px;
	z-index: 10;
}
/*设置pageControl*/
.pageControl{
	
}
.pageControl span{
  width: 6px;
  height: 6px;
  border: 1px solid gray;
  background: gray;
  display: inline-block;
  border-radius: 6px;
  margin: 0 10px;
  /*cursor设置鼠标样式*/
  cursor: pointer;
}
.pageControl span:hover{
	background: white;
	border: 1px solid gray;
}
/*文字介绍*/
.introduce{
	color: rgb(76,76,76);
	font-size: 15px;
	text-align: left;
	/*首行缩进*/
	text-indent: 30px;
	border-top: 1px solid rgb(226,226,226);
	border-bottom: 1px solid rgb(226,226,226);
	padding: 20px 0;
	margin-top: 20px;

}
/*logo样式*/
.logo{
	font-size: 0;
}
.logo img{
     width: 5%;
     margin: 20px 1%;
}
/*瀑布流样式*/
.waterFlow{
	margin: 30px 0;
}
.cell{
	width:30%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px gray;
	float: left;
}
.waterFlow::after{
	content: "";
	display: block;
	clear: both;
}
.celltop{
	position: relative;
	font-size: 0;
}
.celltop img{
	width: 100%;

}
.mask2{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	position: absolute;
	top: 0;
	left: 0;
	/*过渡：transiti*/
	transition: 1s;
}
.text{
	width: 100%;
	height: 52px;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	transition: 1s;
	
}
.text h2{
	font-size: 30px;
}
.text p{
	font-size: 15px;
}
.cell:hover .mask2{
      background-color: rgba(0,0,0,0.5);
}
.cell:hover .text{
	opacity: 1;
}
.cellbottom{
	color: rgb(83,83,83);
	font-size: 14px;
	padding: 5px 0;
	background: white;
}
.cellMiddle{
	margin:0 5%;
}
/*页面的尾部添加样式*/
.footer{
	background: rgb(217,217,217);
	padding: 15px 0;
}
.footer::after{
	content: "";
	display: block;
	clear: both;
}
.leftFooter{
	width: 49%;
	float: left;
	text-align: right;
}
.rightFooter{
	width: 49%;
	float: right;
	text-align: left;
	border-left: 1px solid gray;
	padding-left: 1%;
}
.leftFooter img{
	width: 30px;
	height: 25px;
}
ul{
	list-style: none;
}
.rightFooter img{
	width: 143px;
}
ul li{
	font-size: 12px;
	color: #666666;
	line-height: 20px;
	text-shadow: 5 5 5px white;
}