*{
	padding: 0;
	margin: 0;
}
.wrap{
	width: 800px;
	margin: 0 auto;
}
.wrap h2{
	border-bottom: rgb(193,193,193);
	padding-bottom: 10px;
}
.wrap p{
	width: 600px;
    font-size: 14px;
    margin: 10px 0;
    padding-left: 10px;
}
